

.divBody {
  min-height: 93vh;
  padding: 1rem;
  background-image: url('https://images6.alphacoders.com/122/1220288.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}    


input {
  text-transform: uppercase;
  /* margin-bottom: 0.2em;  */
  /*separa renglones*/
}
::placeholder {
  text-transform: none;
}

.botones button {
  margin: 0em 0.5em 0.5em 0em;
}



.card {  
  transition: 0.3s ease;
  transform: scale(0.8);
  border-color: black;
  

}


.card:hover {
  transform: scale(0.9, 0.9);
  background-color: rgba(170, 225, 248, 0.785);
}

.formulario {
  background-color: rgba(0, 0, 0, 0.363);
}

.form-control {
  margin-top: 3%;
}

#menu{
  background-color: red !important;
}